---
layout: main
---
<!-- Header-->
<header class="bg-dark py-5 text-white" id="header">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-md-10 col-sm-12">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder pb-4">Neural Shape Mating: Self-Supervised Object Assembly with Adversarial Shape Priors</h1>
          <div class="row pt-4 pb-1">
            <div class="col"><h5><a href="https://yunchunchen.github.io/">Yun-Chun Chen</a><sup>1,2</sup></h5></div>
            <div class="col"><h5><a href="https://lihd1003.github.io/">Haoda Li</a><sup>1,2</sup></h5></div>
            <div class="col"><h5><a href="http://www.cs.toronto.edu/~dylanturpin/">Dylan Turpin</a><sup>1,2</sup></h5></div>
            <div class="col"><h5><a href="https://www.cs.toronto.edu/~jacobson/">Alec Jacobson</a><sup>1,4</sup></h5></div>
            <div class="col"><h5><a href="https://animesh.garg.tech/">Animesh Garg</a><sup>1,2,3</sup></h5></div>
          </div>
          <div class="row">
            <div class="col"><p class="lead"><sup>1</sup><a href="https://www.utoronto.ca/">University of Toronto</a></p></div>
            <div class="col"><p class="lead"><sup>2</sup><a href="https://vectorinstitute.ai/">Vector Institute</a></p></div>
            <div class="col"><p class="lead"><sup>3</sup><a href="https://www.nvidia.com/en-us/">NVIDIA</a></p></div>
            <div class="col"><p class="lead"><sup>4</sup><a href="https://research.adobe.com/">Adobe Research, Toronto</a></p></div>
          </div>
          <div class="row">
          	<div class="col"><p class="lead">IEEE Conference on Computer Vision and Pattern Recognition (CVPR), 2022</p></div>
          </div>
          <div class="row">
          	<div class="col"><p class="lead"><a href="https://arxiv.org/abs/2205.14886">Paper</a></p></div>
          	<div class="col"><p class="lead"><a href="">Video</a></p></div>
          	<div class="col"><p class="lead"><a href="https://github.com/pairlab/NSM">Code</a></p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


{% include abstract.html %}
{% include dataset.html %}
{% include experiments.html %}
{% include conclusion.html %}
