---
layout: main
---
<!-- Header-->
<header class="bg-dark py-5 text-white" id="header">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-md-10 col-sm-12">
        <div class="text-center my-5">
          <h1 class="display-5 fw-bolder pb-4">Neural Shape Mating: Self-Supervised Object Assembly with Adversarial Shape Priors</h1>
          <div class="row pt-4 pb-1">
            <div class="col"><h5>Yun-Chun Chen <sup>1,2</sup></h5></div>
            <div class="col"><h5>Haoda Li  <sup>1,2</sup></h5></div>
            <div class="col"><h5>Dylan Turpin  <sup>1,2</sup></h5></div>
            <div class="col"><h5>Alec Jacobson  <sup>1,4</sup></h5></div>
            <div class="col"><h5>Animesh Garg  <sup>1,2,3</sup></h5></div>
          </div>
          <div class="row">
            <div class="col"><p class="lead"><sup>1</sup> University of Toronto</p></div>
            <div class="col"><p class="lead"><sup>2</sup> Vector Institute</p></div>
            <div class="col"><p class="lead"><sup>3</sup> NVIDIA</p></div>
            <div class="col"><p class="lead"><sup>4</sup> Adobe Research, Toronto</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


{% include abstract.html %}
{% include dataset.html %}
{% include experiments.html %}
{% include conclusion.html %}
