<section class="py-5 bg-light" id="references">
  <div class="container px-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-md-10 col-sm-12">
        <h2>References</h2>
        <dl>
          <li>
            Paul J Besl and Neil D McKay. <a href="https://ieeexplore.ieee.org/document/121791">A Method for Registration of 3-D Shapes</a>. TPAMI, 1992.
          </li>
          <li>
            Sofien Bouaziz, Andrea Tagliasacchi, and Mark Pauly. <a href="https://lgg.epfl.ch/publications/2014/sparseicp/paper.pdf">Sparse Iterative Closest Point</a>. In Computer Graphics Forum, 2013.
          </li>
          <li>
            Yue Wang and Justin M Solomon. <a href="https://arxiv.org/pdf/1905.03304.pdf">Deep Closest Point: Learning Representations for Point Cloud Registration</a>. In ICCV, 2019.
          </li>
          <li>
            Shengyu Huang, Zan Gojcic, Mikhail Usvyatsov, Andreas Wieser, and Konrad Schindler. <a href="https://arxiv.org/pdf/2011.13005.pdf">PREDATOR: Registration of 3D Point Clouds with Low Overlap</a>. In CVPR, 2021.
          </li>
          <li>
            Yichen Li, Kaichun Mo, Lin Shao, Minhyuk Sung, and Leonidas Guibas. <a href="https://arxiv.org/pdf/2003.09754.pdf">Learning 3D Part Assembly from a Single Image</a>. In ECCV, 2020.
          </li>
          <li>
            Jialei Huang, Guanqi Zhan, Qingnan Fan, Kaichun Mo, Lin Shao, Baoquan Chen, Leonidas Guibas, and Hao Dong. <a href="https://arxiv.org/pdf/2006.07793.pdf">Generative 3D Part Assembly via Dynamic Graph Learning</a>. In NeurIPS, 2020.
          </li>
        </dl>
      </div>
    </div>
  </div>
</section>
